<% @isLoginPage = controller_name == 'sessions'%>

<% if @isLoginPage %>
  <div class="devise-links">
    <% if devise_mapping.confirmable? %>
      <%= link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name), class: 'devise-links__link' %>
    <% end %>
  </div>
<% end %>
