<% @result = @test_passage.success? %>

<div class="test-passage-result test-passage-result_<%= @test_passage.success? ? 'success' : 'fail'%>">
  <h1 class="test-passage-result__title"> <%= result_text %> </h1>

  <h2>
    Процент успеха:
    <%= @test_passage.test_result_rate %>
  </h2>
</div>
