<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <p class="form__field">
    <%= form.label :body  %>
    <%= form.text_area :body, id: :question_body, autofocus: true  %>
  </p>

  <p class="form__action"> <%= form.submit t('.submit') %> </p>
<% end %>
