<nav> <%= link_to 'На страницу теста', admin_test_path(@question.test) %> </nav>

<div class='question'>
  <h1> <%= question_header %> </h1>

    <div class='question__info'>
      <p> Тест: <span> <%= @question.test.title %> </span> </p>
    </div>

  <%= render 'form', submit_title: 'Создать' %>
</div>
