// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answer {
  h1 {
    margin-bottom: 50px;

    color: darkgreen;
  }

  .answer__info {
    margin-bottom: 50px;

    span {
      font-weight: 700;
    }
  }
}

.answer-form {
  label {
    color: gray;
  }

  textarea {
    width: 100%;
    height: 52px;

    margin: 10px 0;

    padding: 10px;
    box-sizing: border-box;

    resize: none;
  }

  input[type="submit"] {
    padding: 10px;
    margin-top: 30px;

    color: white;

    border: 1px solid black;
    border-radius: 10px;

    background-color: darkgreen;
  }

  .answer-form__checkbox {
    display: flex;
    align-items: center;

    label {
      margin-right: 10px;
    }
  }
}
