.feedback {
  form {
    p {
      width: 100%;
    }
  }

  label {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  textarea {
    height: 200px;
    width: 100%;
    padding: 15px;
  }

  input {
    margin-top: 20px;
  }
}