.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 2.5vh 2.5vw;
  
  border-top: 1px solid #999;

  &__feedback {
    font-weight: 700;

    color: #557a95;
  }

  &__about {
    text-align: right;

    margin-left: auto;
  }

  &__link {
    color: #557a95;
  }
}
