footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 2.5%;
  box-sizing: border-box;

  border-top: 2px solid black;

  background-color: gainsboro;

  p {
    &:first-child {
      margin-right: 15px;
    }

    &:last-child {
      width: 100%;

      margin-top: 10px;

      font-size: 12px;
      text-align: right;
    }

    a {
      color: darkblue;
    }
  }
}