main {
  padding: 2.5%;
  box-sizing: border-box;

  nav {
    margin-bottom: 30px;

    display: flex;
    justify-content: flex-end;

    a {
      color: darkblue;
    }
  }

  .flash {
    p {
      margin-bottom: 10px;

      font-size: 20px;
      font-style: oblique;
    }
  }
}
