 html {
  height: 100%;
 }

 body {
  margin: 0;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;

  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: #fff;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

h3, h4, h5, h6 {
  font-size: 18px;
  line-height: 24px;
}

ul {
  margin: 0;
}

.hidden {
  display: none;
}
