// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tests {
  .pointer {
    cursor: pointer;
  }

  .arrow {
    display: none;
  }
  
  .table {
    &.asc {
      .arrow-up {
        display: inline-block;
      }
    }

    &.desc {
      .arrow-down {
        display: inline-block;
      }
    }
  }
}
