.test-passage {
  width: 50%;

  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 15px;
  }

  &__progress-bar {
    height: 30px;
    width: 100%;

    border: 1px solid #000;

    margin-bottom: 30px;
  }

  &__progress {
    height: 100%;

    background-color: #346020;
  }

  &__question {
    padding-top: 30px;
    margin-bottom: 30px;

    border-top: 1px dashed #696969;
  }

  &__answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-of-type {
      margin-bottom: 5px;
    }

    input {
      border: 1px solid #696969;
      border-radius: 5px;

      width: 20px;
      height: 20px;
    }

    label {
      margin-left: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__action {
    font-size: 18px;
    line-height: 24px;

    padding: 15px 10px;
    margin-top: 15px;

    align-self: flex-end;

    background-color: #d3d3d3;

    border: 1px solid #696969;
    border-radius: 5px;
  }

  &__github-gist {
    color: #557a95;

    display: inline-block;

    margin-top: 30px;
  }
}

.test-passage-result {
  &__title {
    margin-bottom: 30px;
  }

  &_success {
    .test-passage-result__title {
      color: #346020;
    }
  }

  &_fail {
    .test-passage-result__title {
      color: #994433;
    }
  }
}
