.tests {
  &__action {
    display: inline-block;

    float: right;

    padding: 15px;

    margin-top: 30px;

    background-color: #d3d3d3;

    border: 1px solid #696969;
    border-radius: 5px;
  }

  &__title-th {
    cursor: pointer;
    
    &_asc {
      .arrow-down {
        display: none;
      }
    }

    &_desc {
      .arrow-up {
        display: none;
      }
    }
  }

  .tests-item {
    &__title-td {
      width: 250px;
    }

    &__action {
      font-weight: 700;

      &_start {
        color: #336b87;
      }
    }

    &__update-inline-field {
      width: 100%;

      padding: 5px 10px;

      box-sizing: border-box;

      border: 1px solid #696969;
      border-radius: 5px;
    }

    &__update-inline-btn {
      display: inline-block;

      float: right;

      padding: 5px;

      margin-top: 5px;

      background-color: #d3d3d3;

      border: 1px solid #696969;
      border-radius: 5px;
    }
  }
}

.test-edit {
  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

    text-align: center;

    margin-bottom: 30px;
  }

  &__question {
    display: flex;
    flex-direction: column;

    padding: 15px 0;

    border-top: 1px dashed #696969;

    &_new {
      padding: 15px;

      margin-top: 30px;

      float: right;

      background-color: #d3d3d3;

      border: 1px solid #696969;
      border-radius: 5px;
    }
  }

  &__question-body {
    margin-bottom: 15px;
  }

  &__question-actions {
    font-size: 16px;
    line-height: 20px;

    margin: 25px 0 5px;

    align-self: flex-end;

    a {
      color: #999;
    }
  }

  &__answers {
    margin-bottom: 5px;

    &_new {
      font-size: 14px;
      line-height: 18px;

      align-self: flex-end;

      padding: 5px;

      margin-bottom: 5px;

      background-color: #d3d3d3;

      border: 1px solid #696969;
      border-radius: 5px;
    }

    &_empty {
      font-weight: 700;

      color: #994433;
    }
  }

  &__answer-actions {
    margin: 5px 0;

    font-size: 14px;
    line-height: 18px;

    a {
      color: #999;
    }
  }
}
