// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tests {
  h1 {
    margin-bottom: 50px;
  }
}

.tests__item {
  border-bottom: 2px solid black;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  h2, p {
    margin-bottom: 15px;
  }

  a {
    color: darkgreen;
  }
}

.test {
  h1 {
    margin-bottom: 50px;

    color: darkgreen;
  }

  h2 {
    margin-bottom: 25px;

    font-size: 20px;
    color: brown;
  }

  h3 {
    margin-bottom: 15px;

    font-size: 16px;
  }

  .test__title {
    color: darkgreen;
  }

  .test__question {
    border-bottom: 2px solid black;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .test__question-actions {
    margin: 25px 0 5px;

    a {
      color: gray;
    }
  }

  .test__question-new {
    float: right;

    padding: 10px;

    background-color: darkgreen;

    border: 1px solid black;
    border-radius: 10px;

    a {
      color: white;
    }
  }

  .test__question-answers {
    li:not(:first-child) {
      margin-top: 15px;
    }
  }

  .test__question-answers-actions {
    margin: 5px 0;

    font-size: 12px;

    a {
      color: gray;
    }
  }

  .test__question-answer-new {
    display: inline-block;

    padding: 5px;
    margin-bottom: 20px;

    font-size: 12px;

    background-color: darkgreen;

    border: 1px solid black;
    border-radius: 5px;

    a {
      color: white;
    }
  }
}
