<div class='tests'>
  <h1> Тесты: </h1>

  <% @tests.each do |test| %>
    <div class='tests__item'>
        <h2> <%= link_to test.title, test %> </h2>

        <p> Количество вопросов в тесте - <%= test.questions.count %> </p>
    </div>
  <% end %>
</div>