<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .mailbox {
        margin: 20px auto 0;
        padding: 10px;
        border: 2px solid darkblue;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <div class="mailbox">
      <%= yield %>
    </div>
  </body>
</html>
